/**
 * Colors
 */
$black: #000000;
$white: #FFFFFF;
$green: #3C763D;
$red: #A94442;
$grey: #CCCCCC;
$primary: #2C3742;

$grey_light: #DDDDDD;
$grey_lightest: #EEEEEE;
$grey_dark: #666666;
$grey_blue_light: #B2BFC7;
$grey_blue: #E2E2E4;
$grey_red: #DBDBDB;
$grey_red_light: #F7F7F7;
$grey_red_dark: #888888;
$login_grey: #F0F1F3;

$blue_bg: #3366CC;
$blue_sky: #28A0E5;

$red_dark: #222222;

$facebook_login: #6887C4;
$facebook_login_bg: #4566A9;
$facebook_login_bg_hover: #5773AC;
$facebook_login_span: #39599F;
$facebook_login_border: #3B4868;
$project_name: #3276B1;
$recent_date: #428BCA;
$footer_line: #212121;
$navbar_toggle: #1DC1DA;
$navbar_hover: #0FA6BC;
$dropdown_menu_li: #F3F3F3;
$dropdown_head: #FCFCFC;
$dropdown_title: #999999;
$dropdown_footer_link: #555555;
$content_box_header: #F5F5F5;
$sidebar_caret: #AAAAAA;
$sidebar_dropdown_hover: #16CBE6;
$login_bg: #EFF0F3;
$footer: #111111;
/**
 * Fonts
 */
$open_sans: 'Open Sans', sans-serif;
$pt_sans: 'PT Sans Narrow', sans-serif;
$roboto: 'Roboto', sans-serif;