/**
 * Colors
 */
$black: #000000;
$white: #FFFFFF;
$green: #3C763D;
$red: #A94442;
$grey: #CCCCCC;
$light_grey: #D1D4D8;
$dark_grey: #222222;
$light_blue: #7184A2;
$primary: #2F4A76;
$dark_blue: #0A254F;
$darker_blue: #000D21;
$btn_blue: #708FA9;
$btn_blue_hover: #265a88;
$btn_view_match: #65799A;
$btn_view_match_hover: #2F4A76;
$open_sans: 'Open Sans', sans-serif;
$pt_sans: 'PT Sans Narrow', sans-serif;
$roboto: 'Roboto', sans-serif;